/* 폰트 용도 파일 */

@charset "utf-8";

@font-face {
    font-family: "100";
    src: url("./fonts/_____(OTF) 100.otf");
}
@font-face {
    font-family: "110";
    src: url("./fonts/_____(OTF) 110.otf");
}
@font-face {
    font-family: "120";
    src: url("./fonts/_____(OTF) 120.otf");
}
@font-face {
    font-family: "140";
    src: url("./fonts/_____(OTF) 140.otf");
}
@font-face {
    font-family: "160";
    src: url("./fonts/_____(OTF) 160.otf");
}
@font-face {
    font-family: "180";
    src: url("./fonts/_____(OTF) 180.otf");
}
